<%- include('../partials/header'); %> 
<link rel="stylesheet" href='/stylesheets/productAdd.css'>
<div class="global">
    
    <form method="POST" action="/movies" enctype="multipart/form-data">
       
        <div class="form-group ">
            <label class="" for="title">Nombre de producto</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="title">


        </div>
    
        <div class="form-group ">
            <label class="" for="title">Descripcion de producto</label>
            
            <textarea name="description" id="description" class="form-control" rows="5" cols="10"></textarea>

        </div>

        <div class="form-group ">
            <label class="" for="title">Imagen</label>
            <input type="text" class="form-control" id="image" placeholder="Image" name="image">

        </div>

        <div class="form-group ">
            <label class="" for="title">Categoria</label>
            <select name="category-id" id="category" class="form-control">
                <option value="">--SELECCIONE UNA CATEGORIA--</option>
                <option value="">CATEGORIA A</option>
                <option value="">CATEGORIA B</option>
                <option value="">CATEGORIA C</option>
                <option value="">CATEGORIA D</option>
            </select>

        </div>

        <div class="form-group ">
            <label class="" for="title">Colores</label>
            <select name="colors-id" id="colors" class="form-control">
                <option value="">--SELECCIONE UN COLOR--</option>
                <option value="color-orjo">ROJO</option>
                <option value="color-azul">AZUL</option>
                <option value="color-blanco">BLANCO</option>
                <option value="color-negro">NEGRO</option>
            </select>


        </div>

        <div class="form-group ">
            <label class="" for="title">Tamaño</label>
            
            <select name="size-id" id="size" class="form-control">
                <option value="">--SELECCIONE UN TALLE--</option>
                <option value="talle-XS">XS</option>
                <option value="talle-S">S</option>
                <option value="talle-M">M</option>
                <option value="talle-L">L</option>
            </select>


        </div>

        <div class="form-group ">
            <label class="" for="title">Precio</label>
            <textarea name="description" id="description" class="form-control" cols="5" rows="2"></textarea>

        </div>

        <div class="botones-product-add">
                
            <button type="submit" class="btn btn-success">Enviar Publicación</button>
                
            <button type="reset" class="btn btn-danger">Borrar todo</button>
            
        </div>

    

    
    
    </form>
    <%- include('../partials/footer'); %>