<%- include('../partials/header'); %>
<h1>LISTADO DE PRODUCTOS</h1>

<% productList.forEach(productList =>{ %>

    <h2>Nombre de producto: <%= productList.name %></h2>

<% }) %> 

<%- include('../partials/footer'); %>