/* ----Parte Uno ----*/

header{
  background-color: rgba(78, 162, 214, 0.753);
  
}
.mainContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px; 
  padding-bottom: 5px; 
}

.logo{
  width: 15%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;  
  margin-left: 2%;
  font-size: larger;
}

.tituloHead{
  display: none;
}

.buscador{
  width: fit-content;
  align-items: center;
  flex-direction: column;
}

.buscadorChico{
  width: fit-content;
  flex-direction: column;
 align-items: center;
}

.loginReg{
display: none
}

.dropdown {
  display: flex;
  justify-content: center;
}
  
.barraSecuncadiaList{
  margin-top: 2%;
  margin-bottom: 2%;
  /*height: 10px;*/
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  flex-direction: row;
  padding: auto 0; 
}

.barraSecundaria{
  display: none;
}


@media(min-width : 426px){

  .mainContainer{
    flex-wrap: wrap;
    padding-bottom: 0px; 
  }

  .barraInferior{
    background-color: rgba(101, 192, 248, 0.719);
    margin-top: 8px;
  }

  .loginReg{
    display: flex;
    flex-wrap:wrap;
    padding-left: 2px;
    justify-content: center;
    flex-direction: row;
  }

  button.botonLogRed{
    margin: 2px;
    
  }

  a.btnColor{
    color: white;
  }

  a.btnColor:hover{
    color: white;
  }

  .buscador{
    width: 100%;
  }

  .dropdown {
    display: none
  }

  .barraInferior{
    width: 100%;
  }

  .barraSecundaria{
    width: 100%;
    display: flex;
  }

  .barraSecuncadiaList{
    width: 100%;
    justify-content: space-around
  }

  .tituloHead{
    display: block;
  }
}
