/* ----Parte Uno ----*/

header{
  background-color: rgba(135, 206, 250, 0.753);
  padding-bottom: 3px ;
}
.mainContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  
}

.logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  flex-direction: column;  
  margin-left: 2%;
  
}


.buscador{
 width: auto;
 justify-content: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;  
}

.loginReg{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction:row;
  margin-right: 2%;
  
}


/*----Parte Dos ----*/



.barraSecuncadiaList{
  
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  flex-direction: row;
  padding: auto 0;
  
}


.dropdown{
  display: none;
}

@media (min-width:426px){

  .mainContainer{
    flex-wrap: wrap
  }

  .barraInferior{
    width: 100vw;
  }
}