/* HEADER ----------------------------*/

header{
    background-color: rgba(135, 206, 250, 0.753);
    padding-bottom: 3px ;
  }
  .barraSuperior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    
  }
  
  .navLeft{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 2%;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .navCenter{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .navRight{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 2%;
    
  }
  

  
  .barraSecundaria{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(135, 206, 250, 0.760);
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    height: 60px;
    
  }
  .barraSec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .dropdown{
    display: none;
  }