
.sectionProductList{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url(../imagenes/fondo.jpeg);
}

.productDetailMainContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 94%; 
  height: fit-content;
  justify-content: center;
  flex-direction: row;
  border-radius: 5px; 
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: white; 
  border: gray 1px solid;
}

.productDetailContainer{
  align-content: center;
  padding-bottom: 5vh;
}

img{
  display:block;
  margin:auto;
  }
  

.prodPrice{
  text-align: center;
}

.prodNameContainer{
  text-align: center;
}

p.prodName{
  font-size: 30px;
}

 p.prodPrice{
   font-size: 20px;
 }

 .btn{
  justify-content: space-between;
  margin-top: 1vh;
  width: 100%;
  margin-bottom: 1vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}


 @media (min-width : 426px){

  .productDetailMainContainer{
    width: 100%; 
    padding-left: 0;
    padding-right: 0;

  }

  .productDetailContainer{
    width: 50%;
    padding: auto;
  }
 }


 
 @media(min-width: 769px){

  .productDetailContainer{
    width: 30%;
    padding: auto;
  }
 }
