body {
  font-family: "arial", serif;
  color: black;
  height: 100% 
}

html{
  height: 100%;
}

li{
  list-style: none
}
a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black; 
}


