<%- include('../partials/header'); %>
<link rel="stylesheet" href="/stylesheets/login.css">

<section class="todoLogIn">
    <div class="tituloFormulario">
        <p><h1>Log In</h1></p>
    </div>
    <div class="cajaLogIn">
        <form class="formulario" action="login" method="POST">
            <div class="logeo">
                <p class="nombreLogIn"><label>Mail</label></p>
                <input class="inputCompletar" type="email" class="email" id="email" name="email">
            </div>
            <div>
                <p class="nombreLogIn"><label for="">Contraseña</label></p>
                <input class="inputCompletar" type="password" name="password" id="password" class="password">
            </div>
            <div class="boton-login">
                <button type="submit" class="ConfLogIn">Confirmar</button>
            </div>
        </form>
    </div>
</section>

<%- include('../partials/footer'); %>



</div>