<%- include('../partials/header'); %>
<html>
<section class="todoProfile">
    <link rel="stylesheet" href="/stylesheets/profile.css">

    <div class="profile">

        <h1>tu usuario <></h1>


    </div>

</section>

</html>



<%- include('../partials/footer'); %>