<%- include('../partials/header'); %>
<link rel="stylesheet" href="/stylesheets/register.css">
<section class="todoRegister">
    <div class="tituloRegister">
        <p><h1>Registrate</h1></p>
    </div>
    <div>
        <% if (typeof errors != 'undefined') { %>
            <ul>
            <% for (let i = 0; i < errors.length; i++) { %>
                <li>
                    <%= errors[i].msg %>
                </li>
                <% } %>
            </ul>
        <% } %>
    </div>
    <div class="cajaRegister">
        
        <form class="formRegister" action="register" method="POST">
            <div>
                <div class="formRegistro">
                    <p class="nombreReg"><label>Nombre </label></p>
                </div>
                <input class="inputCompletar" type="text" class="nombreUsuario" id="nombre" name="name" >
            </div>
            <div>
                <div class="formRegistro">
                    <p class="nombreReg"><label>Apellido</label></p>
                </div>
                <input class="inputCompletar" type="text" class="apellido" id="apellido" name="apellido">
            </div>
            <div>
                <div class="formRegistro">
                    <p class="nombreReg"><label>Correo electronico</label></p>
                </div>
                <input class="inputCompletar" type="email" class="email" id="email" name="email">
            </div>
            <div>
                <div class="formRegistro">
                    <p class="nombreReg"><label>Contraseña</label></p>
                </div>
                <input class="inputCompletar" type="password" id="password" name="password">
            </div>
            <div>
                <div class="formRegistro">
                    <p class="nombreReg"><label>Confir Contraseña</label></p>
                </div>
                <input class="inputCompletar" type="password" id="password" name="confirmarPAssword">     
            </div> 
            <div class="div-boton-reg">
                <button type="submit" class="botonRegistro">Crear Cuenta</button>
            </div>
        </div>
        <div class="botonesFacbookGoogle">
            <div>
                <button type="submit" class="regFacebook">Registrar con Facebook</button>
            </div>
            <div>
                <button type="submit" class="regGoogle">Registrar con Google</button>
            </div>
        </div>
    </form> <!--EL DIV QUE ESTABA SUELTO LO SAQUE DE ACA Y AHI QUEDA TODO COMO ANTES-->
</section>

<!-- 
<%- include('../partials/footer'); %>
-->