<%- include('../partials/header'); %>
<link rel="stylesheet" href="/stylesheets/login.css">

<section class="todoLogIn">
   
    <div class="cajaLogIn">
        <div class="tituloFormulario">
            <h1>Log In</h1>
        </div>

        <div>
            <% if (typeof errors != 'undefined') { %>
                <ul>
                <% for (let i = 0; i < errors.length; i++) { %>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    

        <form class="formulario" action="login" method="POST">
         <div class="logueo">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default" class="nombreLogIn">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" class="inputCompletar"  type="email" class="email" id="email" name="email">
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default" class="nombreLogIn">Contraseña</span>
                </div>
                <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" class="inputCompletar" type="password" name="password" id="password" class="password">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default" class="nombreLogIn">Recordarme</span>
                </div>
                <input type="checkbox" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" class="inputCompletar" type="rememberMe" name="rememberMe" id="rememberMe" class="rememberMe">
           
        </div >
            
            <div class="div-boton-reg" class="boton-login" >
                <button class="btn btn-info" type="submit" class="ConfLogIn">Confirmar</button>
            </div>
        
        
        </form>
    </div>
</section>

<%- include('../partials/footer'); %>



</div>