

/*LOGIN ------------------------ */

.todoLogIn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    align-self: center;
    height: 90%;
    width: 100%;
    
  }
  
  .cajaLogIn{
  
    flex-direction: row;
    border: solid black 1px;
    border-radius: 5px;
    align-self: center;
    padding: 10px;
  }
  
  .tituloFormulario{
    margin-bottom:18px;
    align-self: center;
  }
  
  .nombreLogIn{
    text-align: center;
    top: 7px;
    margin: 10px;
    font-size: 20px;
  }
  
  .ConfLogIn{
    margin-top: 7px ;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .boton-login{
    text-align: center;
  }