
/* MEDIA QUERIES  --------------------- */

@media (max-width: 506px) {
    .navRight {
      display: none;
    }
  
    .buscador {
      align-items: center;
    }
  
    .barraSecundaria {
      display: none;
    }
  
    .dropdown {
      display: flex;
      justify-content: center;
    }
  
    .global h3{
      font-size: 20px;
      font-weight: bold;  
    }
  
    .global h1{
      font-size: 25px;
      font-weight: bold;  
    }
  
    .navCenter {
      display: inline;
      justify-content: center;
    }
  }
  
  @media (max-width: 541px) {
    .tituloHead {
      display: none;
    }
  
    .buscador {
      align-items: center;
    }
  
  }