    <section class="footer">
    <div>
        <nav>
            <ul class="footerMenu">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Conocenos</a></li>
                <li><a href="#">Devoluciones</a></li>
                <li><a href="#">Envios</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </div>

    <div>
        <nav >
            <ul class="footerRedes">            
                <li><i class="fab fa-facebook-square"></i><a href="#"></a></li>
                <li><i class="fab fa-twitter-square"></i><a href="#"></a></li>
                <li><i class="fas fa-envelope"></i><a href="#"></a></li>
            </ul>
        </nav>
    </div>
</section> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>


