<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1cc22e00f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
    <
</head>
<body>
    <section class="footer">
    <div>
        <nav>
            <ul class="footerMenu">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Conocenos</a></li>
                <li><a href="#">Devoluciones</a></li>
                <li><a href="#">Envios</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </div>

    <div>
        <nav >
            <ul class="footerRedes">            
                <li><i class="fab fa-facebook-square"></i><a href="#"></a></li>
                <li><i class="fab fa-twitter-square"></i><a href="#"></a></li>
                <li><i class="fas fa-envelope"></i><a href="#"></a></li>
            </ul>
        </nav>
    </div>
</section> 
</body>
</html>