<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1cc22e00f7.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>SportWear</title>
</head>
<body>

    <header class="header">
        <div class="contenedor">

            <div class="barras">
                <nav class="barraPrim">
                    <div class="nav-left">
                        <i class="fab fa-stripe-s"></i>
                        <a href="#">SportWear</a>
                    </div>
                    <li class="no-hover">
                        <form action="/" method="GET" class="forms">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input type="text" class="form-control" placeholder="Buscar" name="busqueda">
                          </div>
                        </form>
                      </li>

                    <div class="nav-right">
                        <a href="/login" class="navbar"><button>Login</button></a>
                        <a href="/register" class="navbar"><button>Registrar</button></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </nav>
            </div>
            
            <div>
                <nav class="barra">
                    <ul class="barraSec">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Categorias</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>




        </div>
    


    </header>
</body>
</html>