<section>
    <h1>Log In</h1>
     <form class="formulario" action="logIn" method="POST">
         <div class="logeo">
             <label>Mail</label>
             <input type="email" class="email" id="email" name="email">
         </div>
         <div>
             <label for="">Contraseña</label>
             <input type="password" name="password" id="password">
         </div>
         <div>
             <button type="submit" class="ConfLogIn">Confirmar</button>
         </div>
     </form>
</section>