<%- include('../partials/header'); %>
<section class="carrito">
  <h1>Tu Carrito</h1>
  <div>
    <div class="imagenCarrito">
      <img height="100px" src="/imagenes/botinero-mercurial-negro-1.jpg">
    </div>

    <div class="descripcionProdCarrito">
      <h2>Botinero Mercurial</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi atque voluptate nam molestias numquam fuga voluptates quam quia vitae dignissimos?</p>
    </div>

    <div class="botonesAgregarQuitar">        
      <input type="number" name="cant" id="cant">
      <i class="far fa-minus-square"></i>
      <i class="far fa-plus-square"></i>
    </div>

    <div class="precioProd">
      <h3>$2000</h3>
    </div>
  </div>
  <div>
    <div class="imagenCarrito">
      <img height="100px" src="/imagenes/botines-superfly.jpg">
    </div>
    
    <div class="descripcionProdCarrito">
      <h2>Botines Suuperfly</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi atque voluptate nam molestias numquam fuga voluptates quam quia vitae dignissimos?</p>
    </div>
  
    <div class="botonesAgregarQuitar">                
      <input type="number" name="cant" id="cant">
      <i class="far fa-minus-square"></i>
      <i class="far fa-plus-square"></i>
    </div>
  
    <div class="precioProd">
      <h3>$2500</h3>
    </div>
  </div>

  <div>
    <h2>Precio Total ###</h2>
    <button type="submit">Realizar Compra</button>
    <button type="submit">Seguir Comprando</button>
  </div>

</section>

<%- include('../partials/footer') %>