<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/not-found.css">
    </head>
    <body>
        <h1>LA PAGINA SOLICITADA NO EXISTE</h1>
        <p>por favor, no rompa las bolas</p>
    </body>
</html>