<%- include('../partials/header'); %>
<html>
<section class="todoUserAcount">
    <link rel="stylesheet" href="/stylesheets/profile.css">

    <div class="userAcount">

        <h1>profile</h1>
    </div>

</section>

</html>



<%- include('../partials/footer'); %>